header{
background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 1%, rgba(205,203,237,1) 26%, rgba(233,233,233,1) 37%);
filter: drop-shadow(2px 1px 4px rgb(23, 23, 23));
}

/* utilities */

.text_shadow{
text-shadow: 10px 10px 10px rgba(0,0,0,0.8);
}

.strong_drop_shadow{
    filter: drop-shadow(10px 10px 10px rgba(18, 18, 18, 0.8));
}

.heaven_drop_shadow{
    filter: drop-shadow(0px 0px 1px rgba(223, 223, 223, 0.8));
}